<!-- {% load static %} -->
 <section class="contactt" id="contactt">
<footer style="background-color: #333;
    color: rgba(255, 255, 255, 0.851);"><!--Footer start-->
    <div class="row " style="text-align:start; ">
          <div class="col-md-3 p-3">
               <h4 style=" color: rgb(183, 183, 111);">Quick Links</h4><hr>
               <a href="index.html" style="color: azure; text-decoration: none;">Home</a><br>
               <a href="index.html" style="color: azure; text-decoration: none;">Services</a><br>
               <a href="index.html" style="color: azure; text-decoration: none;">About</a><br>
               <a href="index.html" style="color: azure; text-decoration: none;">Contact-Us</a><br>
          </div>
          <div class="col-md-4 p-3 ">
              <form action="https://formspree.io/f/xbjnvpvg" method="post" id="contactform">
                <h4>Enquire Now</h4><hr>
                <!-- <div class="alert alert-success p-2 text-center" role="alert" >form submitted!!</div> -->
                <input type="text " id="name" placeholder="Enter Your Name" name="name" style="box-shadow: 1px 1px 1px white,1px -2px 2px rgb(236, 202, 160),-1px 1px 1px white; background-color: #333;padding: 0.2rem; color: white;"><br><br>
                <input type="number" id="number" placeholder="mobile" name="number" style="box-shadow: 1px 1px 1px white,1px -2px 2px rgb(236, 202, 160),-1px 1px 1px white ;
                background-color: #333  ;
                padding: 0.2rem; color: white;"><br><br>
                <input type="email" id="email" placeholder="E-Mail" name="email" style="box-shadow: 1px 1px 1px white,1px -2px 2px rgb(236, 202, 160),-1px 1px 1px white;
                background-color: #333;
                padding: 0.2rem; color: white;"><br><br>
                
                <!-- <textarea type="text" placeholder="Message"  cols="30" rows="10" required style="box-shadow: 1px 1px 1px white,1px -2px 2px rgb(236, 202, 160),-1px 1px 1px white;
                background-color: #333;
                padding: 0.2rem;"></textarea><br><br> -->
                <button style="background-color: rgb(241, 228, 156); padding: 0.5rem; border-radius: 10%;">Submit</button>

              </form>

          </div>
          
          <div class="col-md-5 p-3">
                   <h4>Get in touch</h4><hr>
                   <p >Office Address:<br>
                      Swami Vivekanand HSG Society, Walhekarwadi Chichwad,<br>
                      Pune-411033.
                         
                  </p><br>
                  <p>Phone No:<br>
                  +91 7276968854</p><br>
                  <p>Mail:<br>rs8141020@gmail.com</p><br>
                  <p>Social Media<br>
                    <a class="active"><i class="fa-brands fa-instagram fa-beat"></i> Instagram</a><br>
                    <a class="active"><i class="fa-brands fa-facebook fa-beat"></i> Facebook</a><br>
                    <a class="active"><i class="fa-solid fa-envelope"></i> Email</a></p>

          </div>
        </div>
     
       <div class="row" style="text-align: center;">
        <p>&copy; 2024 Morya Construction</p>
      </div>
      
    
  </footer>
  </section>
  <!--Footer end-->
</div>
<!-- <script id="rendered.js">
  var figure=$(".video").hover(hoverVideo , hideVideo);

  function hoverVideo(e){
      $("video",this).get(0).play();
  }

  function hideVideo(e){
      $('video',this).get(0).pause();
  }

</script> -->
  <script src="static/js/bootstrap.min.js"></script>
<script src="static/js/popper.js"></script>
<!-- <script src="static/js/app.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script> -->
</body>
</html>