{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel"   >
  <div class="carousel-indicators" >
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner " style="height: 600px;" >
  <div class="carousel-item active">
 
  <img src="static/images/side12.jpeg" class="d-block w-100" alt="...">
  <div class="carousel-caption  d-md-block move2">
   <h1>Morya Construction</h1>
   <p><b>You Dream it, we built it</b></p>
  </div>
  </div>
  <div class="carousel-item">
  <img src="static/images/side2.webp" class="d-block w-100" alt="...">
  <div class="row move ">
   <h3><b>Morya Construction</b></h3>
     <p>You Dream it, we built it</p>
   </div>
  </div>
  <div class="carousel-item">
  <img src="static/images/pexels-photo-4792495.jpeg" class="d-block w-100" alt="...">
  <div class="row move1">
   <h3><b>Morya Construction</b></h3>
     <p>You Dream it, we built it</p>
   </div>
  </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
  </div>
<div class="row comp1">
  <div class="col-md-3 complete">
    <h1>15+</h1>
    <p> years Completed</p>
  </div>
  <div class="col-md-3 complete">
    <h1>20+</h1>
    <p>Completed Project</p>
  </div>
  <div class="col-md-3 complete">
    <h1>200+</h1>
    <p>Happy Customers</p>
  </div>
  <div class="col-md-3 complete">
    <h1>10m+</h1>
    <p>sq.ft.Developed</p>
  </div>
</div>

<section class="Service-offer  servicee" id="servicee">

  <!-- <div class="main-tittle "> -->
  <!--service box start-->
  <h2 style="text-align: center; padding: 0;">Our-Services</h2>
  <!-- </div> -->

  <div class="row   videobox1">

    <div class="col-md-4 videobox">
      <div class="row video">
        <video style="width: 600px; height: 500px; " type="video/mp4" controls="controls"
          src="static/images/videoplayback.mp4"></video>
      </div>
      <div class="row ">
        <h5 style="text-align: center;">Building planing</h5>
      </div>
    </div>
    <div class="col-md-4 videobox">
      <div class="row video">
        <video style="width: 500px; height: 500px; " type="video/mp4" controls="controls"
          src="static/images/videoplayback (2).mp4"></video>
      </div>
      <div class="row">
        <h5 style="text-align: center;">PCC WORK</h5>
      </div>
    </div>




    <div class="col-md-4  videobox">
      <div class="row video">
        <video style="width: 500px; height: 500px; " type="video/mp4" controls="controls"
          src="static/images/pcc.mp4 "></video>
      </div>
      <div class="row">
        <h5 style="text-align: center;">RCC WORK</h5>
      </div>
    </div>

  </div>
  <div class="row videobox1">
    <div class="col-md-4 ">

      <div class="row video">
        <video style="width: 500px; height: 500px; " type="video/mp4" controls="controls"
          src="static/images/Untitled design.mp4"></video>
      </div>
      <div class="row">
        <h5 style="text-align: center;">Painting</h5>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="row video">
        <video style="width: 500px; height: 500px; " type="video/mp4" controls="controls"
          src="static/images/videoplayback (4).mp4"></video>
      </div>
      <div class="row">
        <h5 style="text-align: center;">Building Planing</h5>
      </div>

    </div>
    <div class="col-md-4 ">
      <div class="row video">
        <video style="width: 500px; height: 500px; " type="video/mp4" controls="controls"
          src="static/images/videoplayback (5).mp4"></video>
      </div>
      <div class="row">
        <h5 style="text-align: center;">Water-Profing</h5>
      </div>
    </div>

  </div>
</section><br><br>

<section>
  <div class="row ">
  </div>
</section>
<div class="container">
  <div class="row  shadow "
    style="background-color: #f3e6dc; max-width: fit-content; margin-left: auto; margin-right: auto;">
    <h4 style="text-align: center;">We serve are services better than others</h4>

    <div class="col-md-6" >
      <h5 style="text-align: center; text-decoration: underline dotted orangered;">Morya Construction</h5>
      <div class="row cent1 text-center" style="display: flex;">

        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Facility for 100% Money Safety</p>


      </div>
      <div class="row cent1 text-center" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Top Quality Assurence </p>

      </div>
      <div class="row cent1 text-center " style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Monitoring The Progress From Home Using App</p>

      </div>
      <div class="row cent1 text-center" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Zero Cost Overturns</p>

      </div>
      <div class="row cent1 text-center" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Graranteed On Time Delivery</p>

      </div>

    </div>

    <div class="col-md-6">
      <h5 style="text-align: center; text-decoration: underline dotted orangered;">Contractor</h5>
      <div class="row cent1" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >No Safety of Money & High Risk</p>
      </div>


      <div class="row cent1" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Improper quality checks</p>

      </div>
      <div class="row cent1" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >No App. Have to go to Construction site</p>

      </div>
      <div class="row cent1" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >Costs keep increasing</p>

      </div>
      <div class="row cent1 text-center" style="display: flex;">
        <img src="static/images/check-mark-icon-in-orange-circle-white-tick-symbol-in-orange-circle.png" style="height: 19px; width: 19px; ">
        <p >No guarantee on timely delivery</p>

      </div>
    </div><br>
    <h5 >Experience Tech-Enable Construction with us</h5>

  </div><br>
  </div>

<section id="pricing " class="pricing">
     <div class="container">
      <!---start of cost estimate-->
  <div class="row cent shadow " style="margin-left: 45px;">
    <!-- <div class="row ">Cost Estimation of Constructing A House In</div> -->
    <h4 style="text-align: center;">Cost Estimation of Constructing A House In</h4>
    <div class="col-md-12 ">
      <div class="row  ">
        <div class="cent">
        <div class="col-md-6" style="margin-left: 12rem;">Basic</div>
        <div class="col-md-6">Rs.1500/sqft</div>
        </div>

      </div>
      <hr style="color: orangered;">
      <div class="row ">
        <div class="cent">
        <div class="col-md-6" style="margin-left: 12rem;">Classic</div>
        <div class="col-md-6">Rs.1700/sqft</div>
        </div>
      </div>
      <hr style="color: orangered;">
      <div class="row ">
        <div class="cent">
        <div class="col-md-6" style="margin-left: 12rem;">Premium</div>
        <div class="col-md-6">Rs.1900/sqft</div>
        </div>
      </div>
      <hr style="color: orangered;">
      <div class="row ">
        <div class="cent">
        <div class="col-md-6" style="margin-left: 12rem;">Royal</div>
        <div class="col-md-6">Rs.2100/sqft</div>
        </div>
      </div>
      <hr style="color: orangered;">
    </div>
    <button class="btn1 w-50" style="background-color: rgb(231, 140, 107);">Start Your Construction</button>
  </div><br>
  </div>
</section>

  <!---end of cost estimate-->


  <!---start construction-->

  <div class="row ">
    <div class="row cont">

      <h2 style="text-align: center;">How its Works</h2><br>
      <p style="text-align: center; font-size: 18px;">Our house Constuction steps are simple and easy to understand:
        Plan-<br>Build-Track-Settle in.</p>

      <div class="col-md-4 card">
        <div class="images ">
          <img src="static/images/how-it-works-2.webp" alt="">

        </div>
        <div class="content ">
          <h3>Raise a Request</h3>
          <p>Raise a house Construction services Request .Our team is get touch with you</p>
        </div>
      </div>
      <div class="col-md-4 card">
        <div class="images ">
          <img src="static/images/how-it-works-3.webp" alt="">

        </div>
        <div class="content ">
          <h3>Meet oue Exports</h3>
          <p>Experts will guide you in selecting the right package for house
            Construction and solve any queries that you have.
          </p>
        </div>
      </div>
      <div class="col-md-4 card">
        <div class="images ">
          <img src="static/images/how-it-works-4.webp" alt="">

        </div>
        <div class="content ">
          <h3>Book with Us</h3>
          <p>Good to go! You pay 2% of estimated project cost as the booking amount to start the house construction
          </p>
        </div>
      </div>

      <div class="col-md-4 card">
        <div class="images ">
          <img src="static/images/how-it-works-5.webp" alt="">

        </div>
        <div class="content">
          <h3>Receive design</h3>
          <p>Our architects will provide exhaust drawings and designs of your home construction till you are
            completely satisfied.</p>
        </div>
      </div>

      <div class="col-md-4 card">
        <div class="images ">
          <img src="static/images/how-it-works-6.webp" alt="">

        </div>
        <div class="content">
          <h3>Track & transact</h3>
          <p>To ensure absolute trust, we provide where you transfer the amount for stage the project.</p>
        </div>
      </div>
      <div class="col-md-4 card">
        <div class="images ">
          <img src="static/images/how-it-works-4.webp" alt="">

        </div>
        <div class="content">
          <h3>Settle in </h3>
          <p>We Make sure you are well settled in your newly built home. Our journey together doesn't end here.. we
            provide 5 year's warrenty</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>


  <!---end construction-->


  <div class="row price p-3 box-shadow">
    <h3><b> Our pricing</b></h3><br>
    {% for i in data %}
    <div class="col-md-2 col-md-4 md-2 outerbox">
      <div class="card" style="width: 18rem; height: 22rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{i.name}}</h5>
          <h4 style="text-align: center;">{{i.price}}</h4>
          <p class="card-text text-center">interior Design<br>refurushment<br>Material Supply<br>
            maintainance<br>24/7 support</p>
          <a href="/product_details/{{i.id}}" class="btn btn-primary me-auto buy" style="margin-left: 5rem;">See Details</a>
        </div>
      </div>
    </div>
    {% endfor %}


    
    <!-- <div class="col-md-2 col-md-4 md-2 outerbox">
      <div class="card" style="width: 18rem; height: 22rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Classic Plan</h5>
          <h4 style="text-align: center;">₹ 1700/sq.ft</h4>
          <p class="card-text text-center">interior Design<br>refurushment<br>Material Supply<br>
            maintainance<br>24/7 support</p>
          <a href="#" class="btn btn-primary buy " style="margin-left: 5rem;">See Details</a>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-2 col-md-4  outerbox">
      <div class="card" style="width: 18rem; height: 22rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Premium Plan</h5>
          <h4 style="text-align: center;"> ₹ 1900/sq.ft</h4>
          <p class="card-text text-center">interior Design<br>refurushment<br>Material Supply<br>
            maintainance<br>24/7 support</p>
          <a href="#" class="btn btn-primary buy" style="margin-left: 5rem;"> See Details</a>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-md-2 col-md-4 outerbox">
      <div class="card" style="width: 18rem; height: 22rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Royal Plan</h5>
          <h4 style="text-align: center;"> ₹ 2100/sq.ft</h4>
          <p class="card-text text-center">interior Design<br>refurushment<br>Material Supply<br>
            maintainance<br>24/7 support</p>
          <a href="#" class="btn btn-primary buy" style="margin-left: 5rem;">See Details</a>
        </div>
      </div>
    </div> -->
  </div>

  {% endblock 'main' %}