footer{
            
    background-color: #333;
    color: rgba(255, 255, 255, 0.851);
    h4{
        color: rgb(183, 183, 111);
    }
   a{
    color: azure;
    text-decoration: none;
   }

   
}

input{
    box-shadow: 1px 1px 1px white,1px -2px 2px rgb(236, 202, 160),-1px 1px 1px white;
    background-color: #333;
    padding: 0.2rem;

}

/* ------------------header start------------------------ */

header {
    background-color:#333;
    /* border: none; */
    columns:black;
    
   
}

.navbar{
    background-color:#333;
    color: white;
    
}
#top-menu{
    height: 30px;
    /* border: 1px solid black; */
    border-radius: 3px;
    line-height: 28px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    padding-left: 19px;
    padding-right: 36px;
    color: #777777;
    margin-right: 5px;
     
   }
   li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    color: white;

    
}

.navbar-toggler{
    color: white;
}
.nav-link{
    color: white;
    font-size: 1.2rem;
}
.move{
    position: absolute;
    top: 10rem;
    right: 5rem;
    h3{
        color: white;
        font-size: 200%;
        
    }
    p{
        font-size: 100%;
        color: white;
        margin-left: 2rem;
    }
}
.move2{
    position: absolute;
    top: 10rem;
    right: 5rem;
    h1{
        text-shadow: rgb(242, 230, 237) 1px 0 10px;
        font-size: 4rem;
       
        
    }
    p{
        font-size: 1rem;
        color: white;
        margin-left: 3rem;
    }
    b{
        font-size: 2rem;
    }
}
.move1{
    position: absolute;
    top: 9rem;
    right: 5rem;
    h3{
        color:black;
        font-size: 200%;
        
    }
    p{
        font-size: 100%;
        color:black;
        margin-left: 2rem;
    }
}
.main-menu{
    a{
        color: white;
    }
}

.d-block{
    height: 55rem;
 }

 .carousel-caption{
    position: absolute;
    top: 15rem;

    h1{
        font-size: 7rem;
        text-shadow: 8px 2px 2px rgb(171, 19, 138),2px 2px 2px rgb(55, 7, 55),2px 2px  red,2px 2px 3px red;
    }

    p{
        font-size: 2rem;
    }
 }


 /*-------------------------- services offer--------------------- */

 .video{
    /* background-image: url(./static/images/brick1.png);
    background-size: cover; */
    height: 25rem;
    width: 25rem;
    /* margin-bottom: 50px; */
    border-radius: 14px;
    overflow: hidden;
    
 }
 video::webkit-media-controls {
    display: none;

 }
 .videobox{
    height: 350px;
    border: none;
    padding-top: 0%;
    padding-bottom: 0;


 }
 .videobox1{
    margin: 0%;
 }
 .v1{
     text-align: center;
 }

 /* -------------------choose us------------------- */
 
 .choose{
     height: 320px;
     width: 200px;
     border: none;
     /* margin: 10px; */
     border-radius: 20px;
    
    
    

 }
 .cp{
     display: flex;
     justify-content: center;
     align-items: center;
    
     
 }
 .cdm{
     height: 280px;
     width: 280px;
     border: 2px solid black;
 }
 .cdm:hover{
     position: relative;
     /* bottom: 2rem;  */
 }
 .cdm1{
     height: 280px;
     width: 280px;
     border: 2px solid black;
 }
 .cdm1:hover{
     position: relative;
     top: 2rem; 
 }
 /* .cd{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px;
 } */
 .cb:hover{
     position: relative;
     top: 3rem;
     /* box-shadow: 3px 3px 3px rgb(167, 130, 226),-2px 2px 2px rgb(164, 123, 240) ; */
     border: 2px solid rebeccapurple;
 }
 h4{
     text-align: center;
 }
 .icon{
    margin-left: 40%; 
    margin-top: 20px;
 }
 .cb1:hover{
     position: relative;
     bottom: 3rem;
     border: 2px solid rgb(194, 185, 54);


 }
 /* estimated costing */

 .cent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}
.btn1{
    height: 40px;
    width: 20px;
}
.cent1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 65%; */
    /* padding: 20px; */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
} 
 /* estimated costing */
.price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price{
    h3 b{
        box-shadow: inset 3px 0px 0px rgb(212, 196, 100),0px 0px 0px 0px black;
        
    }
}


/* start construction */

.cont{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 50px;
}

.cont .card{
    position: relative;
    max-width: 300px;
    height: 220px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    /* touch-action: cross-slide-x; */

}
.cont .card:hover{
    height: 430px;

}
.cont .card .images{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    /* box-shadow:  0 5px 20px rgba(0,0,0,0.2); */
}
.cont .card .images img{
    max-width: 100%;
    border-radius: 5px;

}
.cont .card .cont{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.cont .card:hover .cont{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;


}
.card{
    margin-top: 90px;
}

/* end construction */

 

